<section>
  <h2>List of artists</h2>
  <section *ngIf="loading" class="loading">loading</section>
  <section class="artists">
    <section *ngFor="let a of artists" class="artist">
      <h4>{{a.artist_name}} </h4>
      <div><img src="{{a.artist_image_file}}" width="200" height="200" alt="" /></div>
      <div><a routerLink="/albums/{{a.album_id}}">View detail</a></div>
    </section>
  </section>
</section>
