.artists {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.artist {
  width: 250px;
  padding: 20px;
  border: 1px solid lightcoral;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 10px;
  border-radius: 5px;
}

.loading {
  text-align: center;
  color: blue;
}