.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.header {
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  background: lightseagreen;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav li {
  list-style: none;
  margin: 0 10px;
  line-height: 60px;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.logo {
  line-height: 60px;
  font-size: 35px;
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.main {
  flex: 1 1 auto;
  margin: 0 10%;
}

.footer {
  flex: 0 0 auto;
}