<section class="app">
  <header class="header">
    <a class="logo" routerLink="/">App logo</a>
    <nav class="nav">
      <li><a routerLink="/artists">Artists</a></li>
      <li><a routerLink="/albums">Albums</a></li>
      <li><a routerLink="/contacts">Contacts</a></li>
    </nav>
  </header>
  <main class="main"><router-outlet></router-outlet></main>
  <footer class="footer">
    &copy; @ilavriv
  </footer>
</section>