<section>
  <h2>List of albums</h2>
  <section *ngIf="loading" class="loading">loading</section>
  <section class="albums">
    <section *ngFor="let a of albums" class="album">
      <h4>{{a.artist_name}} - {{a.album_title}}</h4>
      <div><img src="{{a.album_image_file}}" width="200" height="200" alt="" /></div>
      <div><a routerLink="/albums/{{a.album_id}}">View detail</a></div>
    </section>
  </section>
</section>
